* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e9e1de;
}

.header{
  height: 160px;
  padding: 20px;
  background-color: #cda489;
}

.login-container{
    background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
}

p,
label{
  color: #cda489;
}


input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}


.btn-submit{
  background-color: #b67c4d;
  color: #fff;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0,7s;
  border-radius: 20px
  
}

.btn-submit:hover{
  background-color: #fff;
  border-color: hwb(32 31% 21%);
  color: #b98541;
}  

.required-field{
  color: rgb(218, 59, 48);
}