* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e9e1de;
}

/* Cabeçalho */

.header{
  height: 160px;
  padding: 20px;
  background-color: #cda489;
}


.header h1 {
  color:#381f19;
  font-family: 'Times New Roman', Times, serif;
  font-size: 110px;
  text-align: center;

}

/* Container de login */

.login-container{
  background-color: #fdfdfd;
  width: 35%;
  margin: 0 auto;
  position: relative;
  top: -10px;
  border-radius: 20px;
  border: 1px solid #311818;
  height: 450px;
}

.login-container h1{
  color:#5f3930;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  padding: 20px;
  text-align: center;

}

.login-container p {
  height: 40px;
  color:#976e65;
  font-size: 20px;
  text-align: center;
}

/*box input*/

.box-input {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
  gap: 10px; 
}

.box-input label {
  font-size: 20px;
  color: #cda489;
}

.box-input input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  width: 400px;
}

p,
label{
  color: #cda489;
  margin-bottom: 5px;
}

/*Campos de input*/

input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

input{
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
}

input[type="text"],
input[type="password"]
textarea {
  width: 400px;
}

textarea{
  padding: 10px 5px;
}

/*Botão de enviar */

.btn-submit{
  background-color: #b67c4d;
  color: #fff;
  border: 2px solid #8f5b31;
  width: 400px;
  height: 60px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0,7s;
  border-radius: 20px;
  
}

.btn-submit:hover{
  background-color: #fff;
  border-color: hwb(32 31% 21%);
  color: #b98541;
}  

/*Simbolo de campo requisitado*/

.required-field{
  color: rgb(218, 59, 48);
}
